 {
	"blog.article.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64",
				"layout": "",
				"link_to_item": "0",
				"order": "",
				"separated_by": "separator=[ ]",
				"showlabel": "1"
			}
		}
	},
	"blog.article.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5cc79c28-6a98-422c-a800-a5782cf22ff2"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Posted in",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_show_attribute_label": "1"
				},
				"element": "7a66befd-bfd4-4cfc-8345-accad716379f"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php"
				},
				"element": "211fa528-be85-4be2-8414-c6679903c314"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_label": "",
					"_complete_label": "",
					"_action": "cart",
					"_quantity_inputs": "1",
					"_avoid_readd": "1"
				},
				"element": "eeba8ec7-08e7-40fe-8912-ddcbf49b2501"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php"
				},
				"element": "550d3c8a-95dc-48c5-9d7e-1834538f8ce8"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2558c419-f9d4-4351-9d71-de9b340ec025"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "cc8772d2-4276-4f41-b333-0d6eea5bac07"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0265b119-8c48-4519-a1a7-6cc330c3d1ac"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		}
	},
	"blog.article.related":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.article.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		}
	},
	"blog.article.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "Bekijk kaart",
				"element": "_itemlink"
			}
		}
	}
}