# Created by .ignore support plugin (hsz.mobi)
.idea/
.vagrant
/Oudelandkaarten/*
!/Oudelandkaarten/convert.php
!/Oudelandkaarten/templates
!/Oudelandkaarten/media
/Oudelandkaarten/media/*
!/Oudelandkaarten/media/zoo
/Oudelandkaarten/media/zoo/*
!/Oudelandkaarten/media/zoo/applications
/Oudelandkaarten/media/zoo/applications/*
!/Oudelandkaarten/media/zoo/applications/*\blog

/puphpet.zip
/puphpet/files
/!puphpet/files/*/empty
/puphpet/files/dot/ssh

/puphpet/puppet/
/puphpet/shell/
/default
/node_modules

/sql
/profiling/

/default/
!/default/
/default/*
!/default/templates
!/default/modules
/default/modules/*
!/default/modules/mod_style*
