 {
	"name": "Element",
	"elements":  {
		"5157c634-7457-4696-813e-3c4cf91e4fc5":  {
			"name": "Zoektermen",
			"description": "",
			"access": "1",
			"default": "",
			"multiple": "1",
			"type": "select",
			"option":  {

			}
		},
		"1aa18ead-433c-46ce-9203-16906a786a55":  {
			"name": "Artikelnummer",
			"description": "Artikelnummer",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"2e79b98b-82f2-4de3-8df5-2499f3e2baf2":  {
			"name": "Afmeting",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"c9f27a1f-5992-4c3b-8ecf-4a397c950ad0":  {
			"name": "Verpakkingseenheid",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"2161495a-0a98-4ed1-ae6e-2240b55207e8":  {
			"name": "Serie",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "AL",
					"value": "al"
				},
				"1":  {
					"name": "BU",
					"value": "bu"
				},
				"2":  {
					"name": "SE",
					"value": "se"
				},
				"3":  {
					"name": "Osca",
					"value": "osca"
				},
				"4":  {
					"name": "HFU",
					"value": "hfu"
				},
				"5":  {
					"name": "MMC",
					"value": "mmc"
				},
				"6":  {
					"name": "Koelhuis",
					"value": "koelhuis"
				},
				"7":  {
					"name": "Overig",
					"value": "overig"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"5d0f733b-91a2-40d8-845f-dd4109d3bec9":  {
			"name": "Markt",
			"description": "Doelgroep",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Transport \/ Automotive",
					"value": "transportautomotive"
				},
				"1":  {
					"name": "Energieproductie",
					"value": "energieproductie"
				},
				"2":  {
					"name": "Industrie",
					"value": "industrie"
				},
				"3":  {
					"name": "Infra \/ Mobiele hydrauliek",
					"value": "infrmobiele-hydrauliek"
				},
				"4":  {
					"name": "O.E.M \/ Mach & apparatenbouw",
					"value": "oem-mach-apparatenbouw"
				},
				"5":  {
					"name": "Overheid",
					"value": "overheid"
				},
				"6":  {
					"name": "Olie & Gas",
					"value": "olie-gas"
				},
				"7":  {
					"name": "Scheepvaart",
					"value": "scheepvaart"
				},
				"8":  {
					"name": "Service & onderhoud",
					"value": "service-onderhoud"
				},
				"9":  {
					"name": "Voedingsmiddelen industrie",
					"value": "voedingsmiddelen-industrie"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"3cf609f3-bf9d-4494-a2ae-adf656f36cfd":  {
			"name": "Toepassing",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Hydraulische installaties",
					"value": "hydraulische-installaties"
				},
				"1":  {
					"name": "Transmissies",
					"value": "transmissies"
				},
				"2":  {
					"name": "Gas- en stoomturbines",
					"value": "gas-en-stoomturbines"
				},
				"3":  {
					"name": "Brandstoffen",
					"value": "brandstoffen"
				},
				"4":  {
					"name": "Verbrandingsmotoren",
					"value": "verbrandingsmotoren"
				},
				"5":  {
					"name": "(Koel) compressoren",
					"value": "koelcompressoren"
				},
				"6":  {
					"name": "Transformatoren",
					"value": "transformatoren"
				},
				"7":  {
					"name": "(Noodstroom) aggregaten",
					"value": "noodstroomaggregaten"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"983b38b2-9940-4edf-a23c-516a2ee7dadd":  {
			"name": "Oliesoort",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Hydrauliekolie",
					"value": "hydrauliekolie"
				},
				"1":  {
					"name": "Motorolie",
					"value": "motorolie"
				},
				"2":  {
					"name": "Smeerolie",
					"value": "smeerolie"
				},
				"3":  {
					"name": "Turbineolie",
					"value": "turbineolie"
				},
				"4":  {
					"name": "Procesolie",
					"value": "procesolie"
				},
				"5":  {
					"name": "Overige oli\u00ebn",
					"value": "overige-olien"
				},
				"6":  {
					"name": "Brandstof",
					"value": "brandstof"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"d10e6624-7fd7-4e6c-853e-16dc68e738f5":  {
			"name": "Systeemdruk",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "0 \/ Geen druk",
					"value": "0-geen-druk"
				},
				"1":  {
					"name": "2-6 Bar",
					"value": "2-6-bar"
				},
				"2":  {
					"name": "10-245 Bar",
					"value": "10-245-bar"
				},
				"3":  {
					"name": "Overige drukken",
					"value": "overige-drukken"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"bbe09829-5540-4662-9b8d-5fa6cf0922e5":  {
			"name": "Systeeminhoud",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "0,01 - 500 Liter",
					"value": "001-500-liter"
				},
				"1":  {
					"name": "501 - 1000 Liter",
					"value": "501-1000-liter"
				},
				"2":  {
					"name": "1001 - 2000 Liter",
					"value": "1001-2000-liter"
				},
				"3":  {
					"name": "2001 - 3000 Liter",
					"value": "2001-3000-liter"
				},
				"4":  {
					"name": "3001 - 4000 Liter",
					"value": "3001-4000-liter"
				},
				"5":  {
					"name": "4001 - 5000 Liter",
					"value": "4001-5000-liter"
				},
				"6":  {
					"name": "5001 - 6000 Liter",
					"value": "5001-6000-liter"
				},
				"7":  {
					"name": "6001 - 8000 Liter",
					"value": "6001-8000-liter"
				},
				"8":  {
					"name": "8001 - 10000 Liter",
					"value": "8001-10000-liter"
				},
				"9":  {
					"name": "10001 - 20000 Liter",
					"value": "10001-20000-liter"
				},
				"10":  {
					"name": "Overige liters",
					"value": "overige-liters"
				}
			},
			"multiple": "0",
			"type": "text"
		},
		"8a623a44-d1d2-4d9c-b66a-a3cc7d24cdba":  {
			"name": "Beschrijving",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"764958ab-1365-41be-a6b1-4b5f68d0e5cc":  {
			"name": "Maakt deel uit van systeem",
			"description": "",
			"access": "1",
			"type": "relateditems"
		},
		"b6810d37-2f04-4d67-ae1d-6f7b13f3c2f2":  {
			"name": "Afbeelding",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files":  {
				"_mode": "files",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "1024"
			},
			"specific":  {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_spotlight": "1"
			},
			"type": "imagepro"
		},
		"d23f4066-235f-4d3d-8d73-ea6cb28f27e8":  {
			"name": "Productsheet",
			"description": "",
			"access": "1",
			"default": "112",
			"type": "joomlamodule"
		},
		"f31c6472-36f4-4db7-a6e9-ab9df1d6a396":  {
			"name": "Technische tekening",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files":  {
				"_mode": "folders",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png|pdf",
				"_websafe_mode": "utf-8",
				"_source_dir": "images\/zoo\/producten\/",
				"_max_upload_size": "1024"
			},
			"specific":  {
				"_custom_options": "0",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_spotlight": "1"
			},
			"type": "imagepro"
		},
		"17b1b940-b7b4-485b-ac95-7ed3f81b6c43":  {
			"name": "Praktijkfotos",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files":  {
				"_mode": "folders",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_websafe_mode": "utf-8",
				"_source_dir": "images\/zoo\/producten\/",
				"_max_upload_size": "1024"
			},
			"specific":  {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_spotlight": "1"
			},
			"type": "imagepro"
		},
		"7601646c-5c86-4554-873e-f5827a1b6fb0":  {
			"name": "Technische tekening",
			"description": "",
			"access": "1",
			"default": "123",
			"type": "joomlamodule"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent":  {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}