 {
	"name": "Adres",
	"elements":  {
		"9bbc618e-6af4-4122-95df-30aff5da06d1":  {
			"name": "Telefoon",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "other",
			"type": "text"
		},
		"4e78626f-4948-41b0-b85e-0bf2cee168df":  {
			"name": "Naam",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "name",
			"type": "text"
		},
		"a9d93564-1504-4ab0-b8f2-8022c7ac3b78":  {
			"name": "Adres",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "address",
			"type": "text"
		},
		"0adb70ba-4204-4695-8172-fb6136a1e0e6":  {
			"name": "Postcode",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "zip",
			"type": "text"
		},
		"f6d51ccf-c907-4dad-890e-a8f8cd58bd04":  {
			"name": "Plaats",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "city",
			"type": "text"
		},
		"846d0172-9364-46c2-b50a-c54df77be7e8":  {
			"name": "Land",
			"description": "",
			"access": "1",
			"multiselect": "0",
			"selectable_country":  {
				"0": "BE",
				"1": "DE",
				"2": "NL"
			},
			"billing": "country",
			"type": "country"
		},
		"eb276787-e386-4ea9-aa40-1f432e018487":  {
			"name": "BTW-nummer",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"billing": "vat",
			"type": "text"
		}
	}
}