 {
	"blog.systeem.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "<br\/>Artikelnummer: ",
				"separated_by": "separator=[ ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "367af0b5-eb09-43d7-9f0c-9cf8cbfd3436"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "100",
					"_height": "100",
					"_avoid_cropping": "",
					"_link_to_item": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "8cb59c13-f87b-4517-82e4-7273ef1d2009"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Serie: ",
				"separated_by": "separator=[ ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "f491bd00-6883-40bc-bce0-83530d6d2be9"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<br\/>Toepassing: ",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "4a4b7c58-4080-4775-b7f2-943f43793b51"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<br\/><br\/>",
				"link_text": "Lees meer",
				"element": "_itemlink"
			}
		}
	},
	"blog.element.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "130",
					"_height": "130",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "b6810d37-2f04-4d67-ae1d-6f7b13f3c2f2"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "<br\/>Serie:",
				"separated_by": "separator=[ ]",
				"element": "2161495a-0a98-4ed1-ae6e-2240b55207e8"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<br\/>Afmeting:",
				"separated_by": "separator=[ ]",
				"element": "2e79b98b-82f2-4de3-8df5-2499f3e2baf2"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<br\/><br\/>",
				"link_text": "Lees meer",
				"element": "_itemlink"
			}
		}
	},
	"blog.systeem.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "<h3>Inzetbaar<sup>*Tankinhoud in liters<\/sup>:<\/h3>",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "b41fe70a-9fb6-4b00-a7f8-5407cdbb5107"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<h3>Oliesoort: <\/h3>",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "2f030a70-bba2-470d-a8e9-4815f5c7c80a"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<h3>Systeemdruk: <\/h3>",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "f600dcee-95df-406c-9d2e-6ad5307e22e2"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "lightbox",
						"settings":  {
							"width": "",
							"height": "",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							},
							"spotlight": "1",
							"spotlight_effect": "",
							"spotlight_duration": "",
							"captions": "1",
							"custom_caption": ""
						}
					}
				},
				"specific":  {
					"_width": "300",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "8cb59c13-f87b-4517-82e4-7273ef1d2009"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<h3>Productsheets:<\/h3>",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "4cf197bc-fe4d-4c85-8bd8-d42fc57ff0ef"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<h3>Technische tekeningen: <\/h3>",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "86dc5542-4901-46f9-88c1-ec488f4ab118"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "<h3>Praktijkfoto's<\/h3>",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "gallery",
						"_style": "wall",
						"settings":  {
							"order": "default",
							"effect": "",
							"margin": "margin",
							"corners": "",
							"zl_captions": "1",
							"_custom_caption": "",
							"spotlight_effect": "",
							"spotlight_duration": "",
							"lightbox": "1",
							"width": "",
							"height": "",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							}
						}
					}
				},
				"specific":  {
					"_width": "90",
					"_height": "100",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "1deb98c0-17f4-4faa-83cd-776f7a4cbab7"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "<h3>Gebruikte elementen:<\/h3>",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "2dd2a28a-70d2-437c-9ef7-2276574ec090"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "b156aec2-563b-41a7-83f3-43bc52238bd6"
			}
		}
	},
	"blog.element.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "<h3>Afmeting<\/h3>",
				"separated_by": "separator=[ ]",
				"element": "2e79b98b-82f2-4de3-8df5-2499f3e2baf2"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<h3>Artikelnummer<\/h3>",
				"separated_by": "separator=[ ]",
				"element": "1aa18ead-433c-46ce-9203-16906a786a55"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<h3>Verpakkingseenheid<\/h3>",
				"separated_by": "separator=[ ]",
				"element": "c9f27a1f-5992-4c3b-8ecf-4a397c950ad0"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "<h3>Beschrijving<\/h3>",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "8a623a44-d1d2-4d9c-b66a-a3cc7d24cdba"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "lightbox",
						"settings":  {
							"width": "",
							"height": "",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							},
							"spotlight_effect": "",
							"spotlight_duration": "",
							"captions": "1",
							"custom_caption": ""
						}
					}
				},
				"specific":  {
					"_width": "300",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "b6810d37-2f04-4d67-ae1d-6f7b13f3c2f2"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<h3>Productsheets:<\/h3>",
				"element": "d23f4066-235f-4d3d-8d73-ea6cb28f27e8"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "<h3>Technische tekening: <\/h3",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f31c6472-36f4-4db7-a6e9-ab9df1d6a396"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "<h3>Praktijkfoto's:<\/h3>",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "gallery",
						"_style": "wall",
						"settings":  {
							"order": "default",
							"effect": "",
							"margin": "margin",
							"corners": "",
							"zl_captions": "1",
							"_custom_caption": "",
							"spotlight_effect": "",
							"spotlight_duration": "",
							"lightbox": "1",
							"width": "",
							"height": "",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							}
						}
					}
				},
				"specific":  {
					"_width": "75",
					"_height": "70",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "17b1b940-b7b4-485b-ac95-7ed3f81b6c43"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "<h3>Maakt deel uit van systeem:<\/h3>",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "764958ab-1365-41be-a6b1-4b5f68d0e5cc"
			}
		}
	}
}