 {
	"blog.article.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "250",
				"height": "",
				"link_to_item": "1",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		}
	},
	"blog.article.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Uitgegeven door ",
				"separated_by": "separator=[<br \/>]",
				"element": "5cc79c28-6a98-422c-a800-a5782cf22ff2"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "in",
				"date_format": "custom",
				"custom_format": "%Y",
				"separated_by": "separator=[ ]",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "Categorie: ",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_label": "direct bestellen",
					"_action": "cart",
					"_itemid": "",
					"_update_module": "1",
					"_avoid_readd": "1",
					"_complete_label": ""
				},
				"element": "eeba8ec7-08e7-40fe-8912-ddcbf49b2501"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "600",
				"height": "",
				"link_to_item": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Prijs <span style=\"font-size:12px\">(incl. lijst en verzendkosten)<\/span>",
				"layout":  {
					"_layout": "default.php"
				},
				"element": "550d3c8a-95dc-48c5-9d7e-1834538f8ce8"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "cc8772d2-4276-4f41-b333-0d6eea5bac07"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Formaat",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "0265b119-8c48-4519-a1a7-6cc330c3d1ac"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Beschrijving",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		}
	},
	"blog.article.related":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.article.submission":  {
		"content":  {
			"0":  {
				"altlabel": "Gepubliceerd",
				"required": "1",
				"element": "_itemstate"
			},
			"1":  {
				"altlabel": "Titel",
				"required": "1",
				"element": "_itemname"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "2558c419-f9d4-4351-9d71-de9b340ec025"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "0265b119-8c48-4519-a1a7-6cc330c3d1ac"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "5cc79c28-6a98-422c-a800-a5782cf22ff2"
			},
			"6":  {
				"altlabel": "Uitgegeven in",
				"required": "0",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "a3a5ad8b-792f-4b94-94e3-4be0aa9cd3ef"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "Afbeelding",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		}
	},
	"blog.article.teaser":  {
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "250",
				"height": "",
				"link_to_item": "1",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		}
	}
}