 {
	"blog.systeem.default":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php"
				},
				"specific":  {
					"_width": "200",
					"_height": "150",
					"_avoid_cropping": "",
					"_link_to_item": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL",
						"1": "en-GB"
					}
				},
				"element": "8cb59c13-f87b-4517-82e4-7273ef1d2009"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Inzetbaar",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "b41fe70a-9fb6-4b00-a7f8-5407cdbb5107"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "liter tankinhoud | ",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "2f030a70-bba2-470d-a8e9-4815f5c7c80a"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": " op bestaande systeemdruk tussen",
				"separated_by": "separator=[, ]",
				"zoolingual":  {
					"_languages":  {
						"0": "nl-NL"
					}
				},
				"element": "f600dcee-95df-406c-9d2e-6ad5307e22e2"
			}
		}
	}
}