 {
	"name": "Article",
	"elements":  {
		"c26feca6-b2d4-47eb-a74d-b067aaae5b90":  {
			"name": "Afbeelding",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"2558c419-f9d4-4351-9d71-de9b340ec025":  {
			"name": "Bestelcode",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"eeba8ec7-08e7-40fe-8912-ddcbf49b2501":  {
			"name": "Bestel direct",
			"description": "",
			"access": "1",
			"specific":  {
				"_default": "1"
			},
			"type": "addtocart"
		},
		"550d3c8a-95dc-48c5-9d7e-1834538f8ce8":  {
			"name": "Prijs",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"specific":  {
				"_default": "",
				"_default_tax_class": "1",
				"_currency": "1"
			},
			"type": "pricepro"
		},
		"cc8772d2-4276-4f41-b333-0d6eea5bac07":  {
			"name": "Social Buttons",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"0265b119-8c48-4519-a1a7-6cc330c3d1ac":  {
			"name": "Formaat:",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"5cc79c28-6a98-422c-a800-a5782cf22ff2":  {
			"name": "Maker",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"2616ded9-e88b-4b77-a92c-2c4c18bb995f":  {
			"name": "Gemaakt in",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"2e3c9e69-1f9e-4647-8d13-4e88094d2790":  {
			"name": "Beschrijving",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"7fde2412-9498-416d-9488-93d76086178a":  {
			"name": "Aantal",
			"description": "",
			"access": "1",
			"specific":  {
				"_default": ""
			},
			"type": "quantity"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zoocart": null
}